.list {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    list-style: none;
    padding: 0;
}

.item {
    position: relative;
    margin-bottom: 20px;
    width: 182px;
    height: 50px;
}

.arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .list {
        display: flex;
        justify-content: space-between;
    }

    .item {
        width: 160px;
    }
}

@media screen and (max-width: 767px) {
    .item {
        width: 280px;
    }
}