.wrapper {
    position: relative;
    height: 288px;
    width: 288px;
}

.balance {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
}   

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .wrapper {
        height: 336px;
        width: 336px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        height: 280px;
        width: 280px;
    }
}
