:root {
    --white: #ffffff;
    --black: #000000;
    --turquoise: #24cca7;
    --pink: #ff6596;
    --lightpink: #ffd8d0;
    --violet: #c5baff;
    --blue: #4a56e2;
    --lightBlue: #6e78e8;
    --grey: #bdbdbd;
    --lightGrey: #e0e0e0;
    --darkGrey: #a6a6a6;
    --background: #e7eaf2;
    --primary-font-family: 'Circe', sans-serif;
    --accent-font-family: 'Poppins', sans-serif;
}