.list {
    position: fixed;
    z-index: 10;
    top: 60px;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 64px;
    width: 100%;
    background-color: #E7EAF2;    
    padding: 12px 55px;
}

.ulColumn {
    list-style: none;
}
.icon {
    fill: var(--lightBlue);
}

.icon:hover,
.icon:focus {
    fill: var(--blue);
    box-shadow: rgb(74 86 226 / 50%) 0px 3px 10px;
}
.icon.small {
    margin-right: 20px;
}