.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    padding: 12px;
    margin: auto;
    /* margin: 15px 55px 0 55px;     */
}
.ulColumn {
    list-style: none;
}
.icon {
    fill: var(--lightBlue);
}

.icon:hover,
.icon:focus {
    fill: var(--blue);
    box-shadow: rgb(74 86 226 / 50%) 0px 3px 10px;
}
.icon.small {
    margin-right: 20px;
}