.form {
  width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #bdbdbd;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.inputWrapper {
  position: relative;
}

.input {
  padding-left: 54px;
  padding-top: 4px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;

  background-color: transparent;

  transition: 0.3s;
}

.input:focus,
input:hover {
  border-bottom: 1px solid #24cca7;
}

.icon {
  fill: #e0e0e0;
  position: absolute;
  top: 5px;
  left: 10px;
}

.input:focus + .icon,
.input:hover + .icon {
  fill: #24cca7;
}

.btn {
  width: 280px;
  padding: 13px 0;

  background-color: #24cca7;
  border: none;
  border-radius: 20px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #1ca185;
}

.btn:disabled {
  opacity: 0.2;
  cursor: auto;
}

.link {
  width: 280px;
  padding: 13px 0;

  background: #ffffff;
  border: 1px solid #4a56e2;
  border-radius: 20px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a56e2;

  text-decoration: none;
  transition: 0.3s;
}

.link:hover,
.link:focus {
  background-color: #ededed;
}

.errorWrapper {
  position: absolute;
  left: 54px;

  font-size: 14px;
  color: #ff0000;
}

@media screen and (min-width: 768px) {
  .form {
    width: 533px;
    align-items: center;

    background: #ffffff;
    border-radius: 20px;
  }

  .input {
    width: 410px;
  }
  .btn {
    width: 300px;
  }

  .link {
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
}
