/* @import '../../variables/colors.css'; */

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 5px;
  width: 280px;
}

.progressDone {
  background: #cc2424;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.progressDone-1 {
  background: #cc2424;
}

.progressDone-2 {
  background: #ccc924;
}

.progressDone-3 {
  background: var(--blue);
}

.progressDone-4 {
  background: var(--turquoise);
}

@media screen and (min-width: 768px) {
  .progress {
    width: 410px;
  }
}
