.currency {
    display: flex;
    justify-content: space-between;
}

.containerTable {
    margin-top: 2rem;
    margin-bottom: 0.125rem;
    max-width: 320px;
}

@media screen and (min-width: 768px) {
    .containerTable {
        margin: 1.25rem auto 0 auto;

        max-width: 44rem;

    }
}

@media screen and (min-width: 1080px) {

    .containerTable {
    
            max-width: 44.6875rem;
    
        }
}