.currency {
  display: flex;
  justify-content: space-between;
}

.containerTable {
  max-width: 320px;
  margin: 0 auto;
}

.nav_ballance {
  position: sticky;
  top: 0;
  left: auto;
  z-index: 11;
  margin: 16px auto 0;
}

@media screen and (min-width: 768px) {
  .nav_ballance {
    position: static;
    margin: 0 auto;
  }
  .containerTable {
    margin: 1.25rem auto 0 auto;
    max-width: 44rem;
  }
  .currency {
    width: 704px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .largeSize {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .leftSize {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 69px;
  }

  .rightSize {
    width: 800px;
    padding: 46px 16px 0 69px;
    margin-left: 1px;
    margin-top: 0px;

    /* max-width: 44rem; */
    border-left: 1px solid rgba(231, 229, 242, 1);
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05);
  }
  .containerTable {
    width: 100%;
    margin-top: 0;
  }
}
