::placeholder {
  color: var(--grey);
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1200;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.wrapperComment {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.errorWrapper {
  position: absolute;
  top: 30px;

  font-size: 14px;
  color: var(--pink);
}
.errorWrapperAmount {
  position: absolute;
  top: 33px;

  font-size: 14px;
  color: var(--pink);
}
.errorWrapperComment {
  position: absolute;
  top: 80px;

  font-size: 14px;
  color: var(--pink);
}
.content {
  position: relative;
  height: 603px;
  width: 540px;
  border-radius: 20px;
  background-color: var(--white);
}

.closeBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  margin-top: 12px;
  margin-right: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 32px;
  width: 32px;
  transition: border var(--t-duration) var(--t-t-function);
}

.closeBtn:hover,
.closeBtn:focus {
  border: 1px solid var(--blue);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.iconClose {
  fill: var(--black);
}

.title {
  margin: 40px 80px;
  font-family: var(--accent-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.formModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 73px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.income {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-right: 24px;
  color: var(--lightGrey);
}

.toggleSpan {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  height: 40px;
  border: 1px solid var(--lightGrey);
  border-radius: 25%/50%;
  vertical-align: top;
  background: none;
  transition: 0.2s;
}

.checkboxInput {
  position: relative;
  opacity: 0;
}

.outcome {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--lightGrey);
  margin-left: 24px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url('../../../images/arrow.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.select {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--black);
  transition: color var(--t-duration) var(--t-t-function);
}

.placeholder {
  color: var(--grey);
}

.select:focus,
.select:hover {
  outline: none;
  color: var(--blue);
}

.select,
.inputText {
  width: 394px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.5;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  border-color: var(--grey);
}

.inputText {
  margin-top: 40px;
  padding-bottom: 8px;
  transition: color var(--t-duration) var(--t-t-function);
}

.inputText:focus,
.inputText:hover {
  outline: none;
  color: var(--blue);
}

.amount {
  display: flex;
  justify-content: space-around;
}

.inputAmount {
  width: 181px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--grey);
  border-color: var(--grey);

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  transition: color var(--t-duration) var(--t-t-function);
}
.inputAmount::placeholder {
  padding-right: 35px;
}
.inputAmount:focus,
.inputAmount:hover {
  outline: none;
  color: var(--blue);
}

.inputDate {
  margin-left: 32px;
  width: 181px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--grey);
  border-color: var(--grey);

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #6d6d6d;
}

.inputDate:focus,
.inputDate:hover {
  outline: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.addBtn {
  margin-top: 0;
  background-color: var(--white);
  border: 1px solid var(--turquoise);
  color: var(--turquoise);
  transition: background-color color var(--t-duration) var(--t-t-function);
}

.addBtn:hover,
.addBtn:focus {
  background-color: var(--turquoise);
  color: var(--white);
}

.addBtn:disabled {
  opacity: 0.3;
  cursor: auto;
}

.cancelBtn {
  margin-top: 20px;
  transition: background-color color var(--t-duration) var(--t-t-function);
}

.cancelBtn:hover,
.cancel:focus {
  background-color: var(--blue);
  color: var(--white);
}

.cancelBtn,
.addBtn {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

.cancelBtn {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
}

.checkboxInput + label {
  position: relative;
  padding: 10px 0 10px 80px;
  cursor: pointer;
}

.checkboxInput + label:before {
  content: '';
  position: absolute;
  top: 50px;
  left: 5;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  transition: 0.2s;
  display: none;
}

.checkboxInput + label:after {
  content: '';
  font-size: 50px;
  position: absolute;
  top: -10px;
  left: 36px;
  width: 44px;
  height: 44px;
  color: var(--black);
  background-color: var(--pink);
  border-radius: 50%;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  transition: 0.2s;
  background-image: url('../../../images/minus.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 7px;
}

.checkboxInput:checked + label:after {
  content: '';
  background-color: var(--turquoise);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  left: -2px;
  background-image: url('../../../images/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  width: 24px;
  height: 24px;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .modalWrapper {
    width: 100%;
    background-color: transparent;
    top: 60px;
    height: max-content;
  }

  .content {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }

  .closeBtn {
    display: none;
  }

  .title {
    font-family: var(--accent-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 20px 20px 40px 20px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formModal {
    padding: 0 40px;
  }

  .amount {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .inputAmount {
    width: 280px;
    margin-bottom: 40px;
    text-align: left;
  }

  .inputDate {
    margin-left: 0;
    width: 280px;
  }

  .inputText {
    width: 280px;
    /* padding-bottom: 60px; */
  }

  .select {
    width: 280px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
  }
}
