@import '../../../variables/colors.css';

@media screen and (max-width: 767px){
    .box {width: 280px};
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    .box {width: 336px};
}
@media screen and (min-width: 1280px) {
    .box {width: 395px};
}

.box {
    height: 80px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 30px;
}

.title {
    margin: 0;
    color: var(--darkGrey);
}
.value {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}