/* @import '../../variables/colors.css'; */
.form {
  width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: var(--grey);
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.inputWrapper {
  position: relative;
  border-bottom: 1px solid var(--lightGrey);
}

.input {
  width: 240px;
  margin-left: 40px;
  padding-top: 4px;
  padding-bottom: 8px;
  border: none;

  outline: none;

  background-color: transparent;

  transition: 0.3s;
}
.input::placeholder {
  color: var(--grey);
}

.inputWrapper:focus,
.inputWrapper:hover {
  border-bottom: 1px solid var(--turquoise);
}

.icon {
  fill: var(--lightGrey);
  position: absolute;
  top: 5px;
  left: 10px;
}

.input:focus + .icon,
.input:hover + .icon {
  fill: var(--turquoise);
}

.btn {
  width: 280px;
  padding: 13px 0;

  background-color: var(--turquoise);
  border: none;
  border-radius: 20px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);

  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #1ca185;
}

.btn:disabled {
  opacity: 0.3;
  cursor: auto;
}

.link {
  width: 280px;
  padding: 13px 0;

  background: #ffffff;
  border: 1px solid var(--blue);
  border-radius: 20px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--blue);

  text-decoration: none;
  transition: 0.3s;
}

.link:hover,
.link:focus {
  background-color: #ededed;
}

.errorWrapper {
  position: absolute;
  left: 54px;

  font-size: 14px;
  color: #ff6596;
}

.statusBarWrapper {
  position: absolute;
  top: 30px;
}
.logo {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 533px;
    align-items: center;

    background: var(--white);
    border-radius: 20px;
  }

  .input {
    width: 370px;
    padding-left: 50px;
  }
  .btn {
    width: 300px;
  }

  .link {
    width: 300px;
  }
}
